.actionbutton {
	height: 100px;
	width: 100px;
	background-color: blue;
	float: left;
}

#stop {
	background-color: red;
}

#resume {
	background-color: green;
}

#data {
	background-color: yellow;
}

#ytplayer {
	width: 70%;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#search {
	padding-top: 2px;
}

#info {
	background-color: purple;
}
